/* font family */
body {
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* common styles */
* {
  background: rgb(245, 248, 255);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.text-color {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.btn {
  background: #e95a08;
  color: #ffffff;
  width: 270px;
  height: 50px;
  border: none;
}
/* navbar styles */
.header-1 {
  margin-top: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  list-style: none;
  display: flex;
  column-gap: 48px;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}
.navbar a {
  text-decoration: none;
  color: black;
}
.list-1 {
  font-weight: 700;
}
.list-2 a {
  color: rgba(137, 135, 161, 1);
}
.list-3 a {
  color: rgba(137, 135, 161, 1);
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.banner-content h1 {
  font-size: 4rem;
}
.fresh {
  color: #e95a08;
}
/* flower card styles */
.card-head {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}
.head-our {
  color: #e95a08;
}
.card-description {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 49px;
}
.card-name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}
.card-name . {
  margin-top: 20px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}
.card img {
  max-width: 100%;
}
/* challenging styles */
.store-img-container {
  position: relative;
  display: inline-block;
}
.store-img {
  max-width: 100%;
  /* position: static; */
  display: block;
}
.flower-store-container {
  display: flex;

  align-items: center;
  gap: 60px;
  margin-top: 210px;
}

.store-description {
  align-items: center;
}
.store-description h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
.flower-content {
  margin-bottom: 30px;
}
.trusted-img {
  background: none;
  max-width: 200px;
  position: absolute;
  top: -80px;

  z-index: 10;
  right: -80px;
}
/* deals styles*/
.deal-description {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.deal-description h2 {
  font-size: 50px;
}
/* deals img styles */
.deals {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;
}

.card-de {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: white;
}

.card-de img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  background: none;
  font-size: 20px;
  white-space: nowrap;
}
.card-anchor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  background: none;
  color: #ffffff;
  /* text-shadow: 1px 1px 4px black; */
}

.small {
  width: 300px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large {
  margin-top: 10px;
  width: 620px;
  height: 310px;
}
/* Search styles */
.subscribe-section {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  background: none;
  /* background-color: rgba(0, 0, 0, 0.4); dark overlay for contrast */
  /* padding: 40px;
  border-radius: 10px; */
}

.overlay h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  background: none;
}

.subscribe-form {
  display: flex;
  max-width: 500px;
  margin: auto;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  flex: 1;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form button {
  padding: 10px 20px;
  background-color: #e95a08;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* .subscribe-form button:hover {
  background-color: darkorange; */

/* footer styles */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-link a {
  text-decoration: none;
  color: #6b7280;
}
.footer-logo {
  align-items: center;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* margin-bottom: 100px; */
}
/* RESPONSIVE STYLE */
@media (max-width: 576px) {
  .list-1,
  .list-2,
  .list-3 {
    display: none;
  }
  .nav-container,
  .cart-link {
    display: flex;
    align-items: center;
    column-gap: 0px;
  }
  .nav-container {
    padding: 16px;
  }
  .banner img {
    width: 100%;
    order: -1;
  }
  .banner {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
  }
  .banner-content h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  .banner-content {
    padding: 20px;
  }

  .btn {
    width: 100%;
  }
  .card-description {
    padding: 20px;
  }
  .card-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: fit-content;
    padding: 20px;
  }
  .flower-store-container {
    flex-direction: column;
    padding: 20px;
  }
  .store-img {
    /* width: 100%; */
    width: fit-content;
  }
  .trusted-img {
    display: none;
  }
  .store-description ul {
    padding: 20px;
  }
  .search-title {
    font-size: 20px;
  }
  .search-form {
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .footer-link {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .small {
    max-width: 100%;
    height: fit-content;
    margin-top: 35px;
  }
  .large {
    height: 100%;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 40px;
  }
  .deal-description {
    padding: 20px;
  }
  .responsive-text {
    font-size: 14px;
  }
  .responsive-title {
    font-size: 24px;
  }
  .card-name {
    font-size: 16px;
  }
  .bank {
    font-size: 24px;
  }
}
